---
import { Image, Picture } from "astro:assets";
import { useTranslate } from "../i18n/useTranslate";
import LinkIcon from "./icons/LinkIcon.astro";
import GitHubIcon from "./icons/GitHubIcon.astro";

import SocialPill from "./SocialPill.astro";
const { t } = useTranslate(Astro.url);
interface projectTypes {
  title: string;
  subTitle: string;
  company: string;
  img: string;
  description: string;
  link?: string | any;
  linkGithub? : string | any;
  technologies: string[];
}
const PROJECTS = t("Projects");
const ProjectsInfo: projectTypes[] = Array.isArray(PROJECTS) && PROJECTS;
---

<section id="Projects" class="w-[100%]">
  {
    Array.isArray(ProjectsInfo) &&
      ProjectsInfo.map(
        ({ description, img, link, title, technologies, company, subTitle, linkGithub }) => (
          <div class="flex flex-col gap-5 mb-20 md:flex-row space-x-6 changeTheme">
            <img
              src={img}
              alt={title}
              class="rounded-lg object-top object-cover self-center hover:scale-105 transition duration-200 ease-out md:max-w-[40%] md:scale-100"
            />
            <articule class="lg:w-[80%] md:w-full ">
              <h1 class="text-3xl text-balance font-pixel gap-3 my-4">
                {title}
              </h1>
              <h2 class="text-2xl text-green-400 ">{subTitle}</h2>
              <h3 class="font-pixel text-green-300"> {company}</h3>
              <p class="text-balance opacity-80 w-full" set:html={description} />
              <label for="" class="opacity-50 font-pixel text-green-300">
                Made width:
                {technologies?.map((tec) => (
                  <span class="changeTheme">{tec}, </span>
                ))}
              </label>

              <p>
                {
                  linkGithub && (
                  <SocialPill href={linkGithub}>
                    <GitHubIcon />
                    GitHub
                  </SocialPill>
                  )
                }
                {link && (
                  <SocialPill href={link}>
                    <LinkIcon />
                    {t('project.preview')}
                  </SocialPill>
                )}
              </p>
            </articule>
          </div>
        )
      )
  }
</section>
